body {
    letter-spacing: 2px;
    color: rgb(0, 0, 137);
    background-color: white;
    max-width: 700px;
    margin: 0 auto;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

header {


}

.header-nav ul {
    list-style-type: none;
    padding: 0  ;
}

.header-nav li {
    display: inline-block;
}

.header-nav a {
    text-align: center;
    padding: 8px;
    
}

.header-nav a:hover{
    color: green;
    
}

.main-picture {
    max-width:175px;
    border: 1px solid rgb(0, 0, 137, 0.2);
    border-radius: 50%;
}


footer {
    justify-content: center;
}
